@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Nabla&family=Poppins&display=swap');

body {
  padding: 0%;
  margin: 0%;
  background-color: #f7f7f9;
  ;
}

/* minimum mobile size 375px */

@media screen and (min-width: 375px) {
  /* header style */

  #header {
    height: 7vh;
    position: top;
    display: flex;
    padding: 3px;
    align-items: center;
    background-color: #ffff;
  }

  #navigation {
    position: relative;
    width: 100%;
    padding: 0%;
  }

  #navigation ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    align-items: center;
    list-style: none;
    text-align: center;
  }

  #logo {
    width: 30%;
    height: 20px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: #6070ff;
    margin-left: -18px;
  }

  #menu-icon {
    width: 30%;
    height: 24px;
  }

  .menu-link {
    margin-right: 10px;
    width: 30px;
    height: 30px;
  }

  /* Main section Style */

  .presentation {
    width: 100%;
    height: 92vh;
    background-image: url("./images/headerBackground.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
    display: flex;
    flex-direction: column;
    background-color: #ffff;
    border-radius: 0 0 0 115px;
  }

  .greeting {
    width: 80%;
    height: 150px;
    margin: 100px 24px 24px 0;
    margin-left: 24px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #172b4d;
    position: relative;
    flex-grow: 0;
  }

  .self-description {
    width: 70%;
    height: 146px;
    position: relative;
    margin: 0 24px 24px 24px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #344563;
  }

  .btn-mediaConnect {
    width: 40%;
    height: 24px;
    margin: 0 24px 12px 24px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    line-height: 24px;
    color: #7f8cff;
  }

  .media-list {
    position: relative;
    width: 40%;
    display: flex;
    flex-direction: row;
    margin-left: 24px;
    padding: 0;
    justify-content: space-between;
    list-style: none;
  }

  .media-link {
    width: 17px;
    height: 17px;
  }

  .media-icon {
    width: 17px;
    height: 17px;
    margin: 0;
    padding: 0;
  }
}

/* minimum desktop size 768px */

@media screen and (min-width: 768px) {
  /* header style */

  #header {
    height: 7vh;
    position: top;
    display: flex;
    padding: 3px;
    background-color: #ffff;
    align-items: center;
  }

  #navigation {
    position: relative;
    width: 100%;
    padding: 0%;
  }

  #navigation ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    align-items: center;
    list-style: none;
    text-align: center;
  }

  #logo {
    width: 30%;
    height: 20px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: #6070ff;
  }

  #menu-icon {
    width: 30%;
    height: 24px;
  }

  /* Main section Style */

  .presentation {
    width: 100%;
    height: 92vh;
    background-image: url("./images/headerBackground.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
    display: flex;
    flex-direction: column;
    background-color: #ffff;
    border-radius: 0 0 0 115px;
  }

  .greeting {
    width: 53%;
    height: 150px;
    margin: 160px 12px 24px 0;
    margin-left: 24px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 33px;
    line-height: 62px;
    display: flex;
    align-items: center;
    color: #172b4d;
    position: relative;
  }

  .self-description {
    width: 45%;
    height: 146px;
    position: relative;
    margin: 0 24px 24px 24px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
  }

  .btn-mediaConnect {
    width: 30%;
    height: 24px;
    margin: 0 24px 12px 24px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    line-height: 24px;
    color: #7f8cff;
  }

  .media-list {
    position: relative;
    width: 30%;
    display: flex;
    flex-direction: row;
    margin-left: 24px;
    padding: 0;
    justify-content: space-between;
    list-style: none;
  }

  .media-link {
    width: 17px;
    height: 17px;
  }

  .media-icon {
    width: 17px;
    height: 17px;
    margin: 0;
    padding: 0;
  }

  /* ====>Section project Part for review<====== */

  #section-project {
    margin-top: 70px;
    display: grid;
    padding: 50px 24px;
    grid-row-gap: 3%;
    height: auto;
    grid-template-columns: auto;
  }

  .details-card {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    justify-content: center;
    width: 327px;
    height: auto;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
  }

  .project-image {
    display: flex;
    width: 100%;
    height: 220px;
    border-radius: 8px;
  }

  .card-info {
    width: 100%;
  }

  .project-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
    width: 100%;
    height: 288px;
  }

  .project-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 120px;
    margin-top: 10px;
  }

  .project-title {
    width: 60%;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #172b4d;
  }

  .client-info {
    display: flex;
    margin-bottom: 12px;
    padding: 0;
    align-items: center;
    height: 10px;
    width: 100%;
  }

  .client-info ul {
    display: flex;
    position: relative;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    height: 10px;
    align-items: center;
  }

  .client-info li {
    margin-left: 20px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    padding-right: 12px;
    color: #7a869a;
  }

  .canopy {
    list-style: none;
    width: 55px;
    height: 16px;
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #344563;
  }

  .client-name {
    width: 55px;
    height: 16px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #344563;
    margin-bottom: 20px;
  }

  .project-info {
    width: 100%;
    height: 76px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #344563;
  }

  .project-tag ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 12px;
    width: 53px;
    height: 24px;
    border-radius: 8px;
    padding-left: 0;
  }

  .project-tag li {
    margin-left: 0;
    margin-right: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 12px;
    width: 89px;
    height: 24px;
    color: #396df2;
    border-radius: 8px;
    background: #ebebff;
    margin-bottom: 20px;
  }

  .btn-project a {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 14px;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    text-decoration: none;
    width: 124px;
    height: 24px;
    border: 1px solid #6070ff;
    border-radius: 8px;
    color: #396df2;
  }

  /* about me section */

  #section-about {
    margin-top: 220px;
    padding: 40px 24px;
    background-repeat: no-repeat;
    background-image: url('./images/about.svg');
  }

  .about-title {
    width: 10%;
    height: 101px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #172b4d;
  }

  .self-desc, .connectm, .listm {
    margin-left: 0;
  }

  .btn-resume a {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    gap: 10px;
    width: 20%;
    height: 18px;
    border: 1px solid #6070FF;
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: #396DF2;
  }

  /* List menu still */

  .skill-list {
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    margin-top: 15px;
    margin-bottom: 20px;
  }

  .skill-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .list-title {
    display: flex;
    justify-content: space-between;
    width: 327px;
    height: 72px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #dfe1e6;
    color: #000000;
  }

  .list-title::after {
    margin-left: 1ch;
    display: inline-block;
    transition: 0.2s;
    content: '\203A';
    font-size: 62px;
    margin-right: 24px;
    color: #5E6C84;
    /* chevron */
  }

  .list-container[open] .list-title::after {
    transform: rotate(90deg);
  }

  .list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    width: 75%;
    margin-top: 30px;
}

  .list-item li {
    margin-right: 15px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    margin-top: 25px;
    color: #253858;
  }
}
