@media screen and (min-width: 375px) {
  body {
    margin: 0;
    padding: 0;
  }

  #header {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 70vh;
    margin: 10px 0;
    
  }

  .head {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    position: relative;
    
  }

  #logo {
    height: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 200%;
    line-height: 20px;
    color: #6070FF;
    
  }

  .menu-icon {
    width: 15%;
    margin-right: 5%;
  }
  
  /* section 2 */
  .presentation {
    background-image: url("headerBackground.svg");
    background-repeat: none;
    display: flex;
    width: 100%;
    height: 90vh;
    flex-direction: column;
    
  }
  
  .greeting {
    width: 70%;
    height: 200px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 3.4em;
    line-height: 52px;
    display: flex;
    margin: 5%;
    margin-top: 20%;
    align-items: center;
    color: #172B4D;
    position: relative;
    
  }
}